{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": false,
  "jsxBracketSameLine": true,
  "parser": "flow",
  "semi": true,
  "arrowParens": "always",
  "jsxSingleQuote": true
}
