.table {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #212121;
  min-width: 680px;
}