@import "scss/mixins/_all.scss";

.rates {
  @include media_interval(0, 480px) {
    margin: 0 -20px;
  }
  &__table {
    margin-top: 20px;
  }
  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @include media_interval(0, 640px) {
      flex-direction: column;
    }
  }
}