.input {
  position: relative;
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  box-sizing: border-box;
  border-radius: 2px;
  color: #181B19;
  width: 100%;

  &::-webkit-input-placeholder {
    color: #676A6F;
    opacity: 0.5;
  }

  &:focus {
    border: 1px solid #F69E27;
  }

  &--error {
    border-color: red;
  }
}
