body {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.menu-opened {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

button {
  border: none;
  outline: none;
  background: none;
}

img {
  //height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

#popup {
  position: relative;
  z-index: 12;
}

#sidebar {
  position: relative;
  z-index: 11;
}

.block {
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(38, 52, 117, 0.08);
  border-radius: 3px;
  padding: 25px;
  margin: 20px 0;
}

.scrollable {
  width: 100%;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &--x {
    overflow: visible;
    overflow-x: auto;
  }

  &--y {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: #FDFDFF;
    border-radius: 3px;
    position: absolute;
    right: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #B1B4C5;
    opacity: 0.5;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #B1B4C5;
  }
}